@font-face {
  font-family: Bayer Sans;
  src: url("bayer-sans.ttf");
  
}
@font-face {
  font-family: "Bauhaus 93";
  src: url("bauhaus93.ttf"); 
}
h1, .byline{
  font-family: "Bauhaus 93";
}

/* stile per cover page*/
/*
body#cover{
  background-image: url('bauhaus_sfondo.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  font-family: "Bauhaus 93";
  font-weight:normal;
  font-style:normal;
}
p{text-align: justify;}

/* stile per articoli*/

body{
  
    font-family: "Bayer Sans";
    font-weight:normal;
  font-style:normal;
  margin-right: 20vW;
  margin-left: 30vW;
  margin-top: 20vW;
  margin-bottom: 30vW;
}

p:first-of-type:first-letter:not(.subtitle){
  text-indent: 2em;
  font-family: 'Bayer Sans';
}
p.pubnote{text-transform: rotate(-90deg);}