@font-face {
  font-family: Bayer Sans;
  src: url("bayer-sans.ttf");
  
}
@font-face {
  font-family: "Bauhaus 93";
  src: url("bauhaus93.ttf"); 
}

/*
h1, .byline{
  font-family: "Bauhaus 93";
}
*/

/* stile per cover page*/
/*
body#cover{
  background-image: url('bauhaus_sfondo.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  font-family: "Bauhaus 93";
  font-weight:normal;
  font-style:normal;
}
p{text-align: justify;}

/* stile per articoli*/

body{
  background-image: url('sfondo_beige.jpg');
  /*font-family: "Bayer Sans"; */
}

h1{font-family: "Bauhaus 93";}
h2{font-family: "Bauhaus 93";}
h3{font-family: "Bauhaus 93";}
p{font-family: "Bayer Sans";}
figcaption{font-family: "Bauhaus 93";}
img{
  width: 50%;
  filter:saturate(0%) sepia(100%) contrast(100%) saturate(100%);
}
#bottom{
  bottom: 0px;
}
/*p:first-of-type:first-letter:not(.subtitle){
  text-indent: 2em;
  font-family: "Bayer Sans";
}

p.pubnote{text-transform: rotate(-90deg);}
h1{font-family: "Bauhaus 93";}
*/